<!-- 
    Document   : index
    Created on : Nov 11, 2008, 12:10:27 PM
    Author     : user
-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>www.smarterhiring.com</title>
<style type="text/css">
<!--
.body {
	margin: 0%;
}

a:link {
	color: #000066;
	text-decoration: underline;
}

a:visited {
	text-decoration: underline;
	color: #C0DCC0;
}

a:hover {
	text-decoration: none;
	color: #996666;
}

a:active {
	text-decoration: underline;
	color: #FF9999;
}

.style4 {
	color: #DDCCDD;
	font-weight: bold;
}

.style7 {
	color: #EFDAEB
}
-->
</style>
</head>
<body style="margin: 0px" bgcolor="#4E2B21">
	<table th:width="100" th:height="50" th:border="1" th:valign="top">
		<tr>
			<td height="78" colspan="3" bgcolor="#624631" th:replace="common/header :: common-header"></td>
		</tr>
		<tr>
			<td width="1" height="621" bgcolor="#624631" ></td>
			<td width="593" valign="top" bgcolor="#FFFFFF"><img
				src="images/fgi_recruitment_home[1].jpg" width="1360" height="357"/></td>
			<td width="130" height="621" bgcolor="#624631">
				<div class="style4">
					<marquee behavior="alternate" direction="up">
						<span class="style7">Deck your hearts with lights of
							Success...Sure!! that you will reach your destiny</span>
					</marquee>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>

