.body {
	margin: 0%;
}

a:link {
	color: #000066;
	text-decoration: underline;
}

a:visited {
	text-decoration: underline;
	color: #C0DCC0;
}

a:hover {
	text-decoration: none;
	color: #996666;
}

a:active {
	text-decoration: underline;
	color: #FF9999;
}

.style4 {
	color: #DDCCDD;
	font-weight: bold;
}

.style7 {
	color: #EFDAEB
}